{% extends "base.html" %}
{% block content %}

<h2>My Applications</h2>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="text-center" style="width: 60px;">Sr No.</th>
            <th>Company</th>
            <th>Job Title</th>
            <th>Status</th>
            <th>Applied On</th>
        </tr>
    </thead>
    <tbody>
        {% for app in applications %}
        <tr>
            <td class="text-center">{{ loop.index }}</td>
            <td>{{ app.placement_drive.company.company_name }}</td>
            <td>{{ app.placement_drive.job_title }}</td>
            <td>{{ app.status }}</td>
            <td>{{ app.application_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
