{% extends "base.html" %}

{% block title %}Student Registration | Placement Portal{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-success text-white text-center">
                <h4>Student Registration</h4>
            </div>

            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Qualification</label>
                        <input type="text" name="qualification" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Skills</label>
                        <textarea name="skills" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </div>
                </form>
            </div>

            <div class="card-footer text-center">
                <small>
                    Already registered?
                    <a href="{{ url_for('main.login') }}">Login</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
